.main_window {
position: relative;
	margin-left: 700px;
	margin-top: 300px;
	width: 25%;
	height: 400px;
	border: 2px solid black;
	

	
	background-color: rgb(221,226,205);
}
body {
	background-color: white;
}
.sub_window {
	width: 400px;
	height: 400px;
	
	position: absolute;
    top: 7%;
  left: 8%;
	
	



}
.input1 {
	margin-top: 20px;
	height: 40px;
	width: 300px;
	margin-left: 37px;

}
.input2 {
	margin-top: 20px;
	height: 40px;
	width: 300px;
	margin-left: 33px;

}
.input3 {
	margin-top: 20px;
	height: 40px;
	width: 300px;
	margin-left: 19px;

}
.button {
	width: 100%;
	height: 40px;
	margin-top: 20px;
	border-width: 5px;
	border-color: rgb(242,244,236);
	background-color: rgb(221,226,205);
	
}

.output1 {
	margin-top: 20px;
	height: 40px;
	width: 300px;
	display: inline-block;
	margin-left: 26px;
	
}
.text {

display: inline-block;
}
.string1{
	
	 
	 width: 400px;
	 
}

