body {
	background-color: black;
	color: white;
	
}

.main_window {
	display: inline-block;
	
	position: absolute;
	top: 20%;
	left: 20%;
}
.sec_window {
	display: inline-block;
	padding-right: 25px;

}
.weight_window {
	display: inline-block;
	padding-left: 25px;
	border-left: solid 2px white;
	padding-right: 25px;
}
.volume_window {
	display: inline-block;
	padding-left: 25px;
	padding-right: 25px;
	border-left: solid 2px white;
}
.length_window {
	display: inline-block;
	padding-left: 25px;
	padding-right: 25px;
	border-left: solid 2px white;
}
.temperature_window {
	display: inline-block;
	padding-left: 25px;
	border-left: solid 2px white;
}

.text_tittle {
	text-align: center;
	font-size: 30px;
	
}

.output_value {
	margin-bottom: 25px;
	width: 170px;
	height: 30px;
}

.text {
	margin-top: 15px;
}
.button1 {
	margin-top: 75px;
	margin-left: 60px;
}

.button {
	margin-top: 20px;
	margin-left: 60px;

}

.buttonSecConvert {
	margin-bottom: 20px;
	margin-left: 55px;
}

.reset {
	width: 400px;
	height: 60px;
	margin-left: 735px;
	margin-top: 50px;
	font-size: 50px;
}